@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
font-family: "Raleway", sans-serif;
font-weight: 300;
}

body{
  margin: 0;
}

img{
  user-select: none;
}

.container{
    width: 1500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.btn-red{
  background-color: #ff7565;
  padding: 9px 20px;
  border: none;
  border-radius: 322px;
  font-size:15px;
  color:white;
  margin: 0 0;
  cursor: pointer;
}

.btn{
  background-color: transparent;
  border:none;
  font-size: 20px;
  color:#868686;
  cursor: pointer;
  font-weight: 200;
}

.btn:hover{
  color:black;
}



@media (max-width: 1400px) {
    .container{
        width: 1100px;
    }

  }

  @media (max-width: 990px) {
    .container{
        width: 900px;
    }

  }

  @media (max-width: 770px) {
    .container{
        width: 600px;
    }

  }